@import 'colors','buttons';
body,html{
    height: 100%;
    
}

body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    background-color: $base-color;
}
.navbar{
    
    display:flex; 
    justify-content: space-between;
    height: 70px;
    padding:10px;
    h3{
        padding-left: 10px;
        color:#1E6262;
        
    }

}

main{
    padding:10px;
    --auto-grid-min-size: 16rem;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(185px, 1.2fr));
    grid-gap: 1rem;
    cursor: pointer;

    .card{
        transition: transform 1s;

        border-radius: 14px;
        box-shadow:  13px 13px 26px #c4d4d0, -13px -13px 26px #ffffff;

        &:hover {
        background: linear-gradient(145deg, #fdffff, #d4e6e2);
        box-shadow:  12px 12px 24px #c4d4d0,-12px -12px 24px #ffffff;
        }
        &:active {
            background: #ECFFFB;
            box-shadow: inset 12px 12px 24px #c4d4d0, 
                        inset -12px -12px 24px #ffffff;
        }

        img{
            width:95%;
            padding: 5px;
        }

        .info{
            display:flex; 
            justify-content: space-between;
            margin:0 10px;
        
            .p{
                
            }

            .price{
                font-weight: bold;
            color:$secondary-color;
            }
    }
    }
}
